@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  width: 100%;
  min-height: 100vh;
}

/* font-family: 'Archivo', sans-serif;
font-family: 'Poppins', sans-serif; */
#logo {
  font-family: "Expletus Sans", Arial, Helvetica, sans-serif;
}

nav {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}

h2,
h3 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}
