@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex; */
  width: 100%;
  min-height: 100vh;
}

/* font-family: 'Archivo', sans-serif;
font-family: 'Poppins', sans-serif; */
#logo {
  font-family: "Expletus Sans", Arial, Helvetica, sans-serif;
}

nav {
  font-family: "Archivo", Arial, Helvetica, sans-serif;
}

nav a.active {
  text-decoration: underline;
}

h1 {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h2,
h3 {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

p {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

b {
  font-weight: 600;
}

input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.react-datepicker__month-container {
  float: left;
  width: auto;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  border-radius: 0.3rem;
  background-color: #babef7;
  color: rgb(0, 0, 0);
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__day--selected:hover {
  color: #fff;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ffffff;
  background-color: #d17b81;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f8c9cc;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 10px 0px;
  position: relative;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #000000;
}
